@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --fontFamily: "Poppins", sans-serif;
  --fontSize: 16px;
  --colorWhite: #fff;
  --colorText1: #d1d0c4;
  --colorText2: #1e1f23;
  --colorGray: #f6f5f5;
  --colorDarkGray: #1e1f23;
  --transition: 0.4s ease;
}
/*********
**********
basic-style
**********
**********/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(img/bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: var(--fontFamily);
  font-size: var(--fontSize);
}
.container {
  width: 80%;
  margin: auto;
  box-shadow: 0px 0px 30px black;
}
.wrapper {
  width: 90%;
  margin: auto;
}
h1,
h2,
h3,
h4 {
  font-weight: 700;
}
hr {
  height: 1px;
  width: 20px;
  background: var(--colorText1);
  border: none;
  margin: 20px 0;
}
/*********
**********
header
**********
**********/
nav {
  padding: 50px 0;
  min-width: 500px;
  text-align: center;
}
nav ul {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.2) 25%,
    rgba(255, 255, 255, 0.2) 75%,
    rgba(255, 255, 255, 0) 100%
  );
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1),
    inset 0 0 1px rgba(255, 255, 255, 0.6);
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  padding: 10px;
  color: var(--colorDarkGray);
  font-weight: 300;
  text-decoration: none;
  display: block;
  text-transform: uppercase;
}
nav ul li a:hover {
  transition: var(--transition);
  color: var(--colorWhite);
}
header hgroup {
  text-align: center;
}
header hgroup h1 {
  color: var(--colorWhite);
  font-weight: 700;
  font-size: 4rem;
}
header hgroup p {
  color: var(--colorText1);
  font-weight: 300;
  font-size: 1rem;
}
/*********
**********
about
**********
**********/
.container .about {
  margin-top: 70px;
}
.container .about img {
  width: 100%;
}
/* .container .about #fotoUvod {
    background-image: url(img/pic02.jpg);
    background-position: center;
    background-size: cover;
} */

.container .about div {
  text-align: center;
  background-color: var(--colorWhite);
  padding: 20px 0 0 0;
}
.container .about div h3 {
  color: var(--colorText2);
  font-size: 1.5rem;
}
.container .about div hr {
  margin: 20px auto;
  width: 15%;
}
.container .about div p {
  color: var(--colorText1);
  font-weight: 300;
  font-size: 0.8rem;
  padding: 0 0 50px 0;
}
.container .about .text {
  background-color: var(--colorGray);
}
.container .about .text p {
  color: var(--colorText2);
  padding: 50px;
  font-size: 0.9rem;
  text-align: left;
}
/*********
**********
gallery
**********
**********/
.gallery {
  background-color: var(--colorDarkGray);
}
.gallery div {
  padding: 50px 0 20px 0;
  text-align: center;
}
.gallery div h3 {
  font-size: 1.5rem;
  color: var(--colorWhite);
}
.gallery div hr {
  margin: 20px auto;
  width: 15%;
}
.gallery div p {
  color: var(--colorText1);
  font-weight: 300;
  font-size: 0.9rem;
}
.gallery .img img {
  width: 100%;
}
.gallery .img {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.gallery .img article {
  flex: 0 0 50%;
}

/*********
**********
blog
**********
**********/

.blog {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0 0 0;
}
.blog article:nth-child(odd) {
  flex: 0 0 50%;
}
.blog article:nth-child(even) {
  flex: 0 0 50%;
}
.blog img {
  width: 100%;
}
.blog .text {
  padding: 50px;
}
.blog .text1 {
  color: var(--colorText2);
  background-color: var(--colorGray);
}
.blog .text1 h3 {
  color: var(--colorText2);
  color: var(--colorDarkGray);
  font-size: 1.6rem;
  padding: 10px;
  margin-bottom: 20px;
}
.blog .text1 p {
  padding: 20px;
  margin-bottom: 30px;
  font-size: 0.9rem;
}
.blog .text1 {
  color: var(--colorText2);
  background-color: var(--colorGray);
}
.blog .text2 h3 {
  color: var(--colorWhite);
  font-size: 1.6rem;
  padding: 10px;
  margin-bottom: 20px;
}
.blog .text2 p {
  padding: 20px;
  margin-bottom: 30px;
  font-size: 0.9rem;
}


/*********
**********
footer
**********
**********/
footer {
  padding: 50px;
  text-align: center;
}
footer i {
  color: var(--colorText1);
  font-size: 1.7rem;
  transition: var(--transition);
  padding: 10px;
}
footer i:hover {
  color: var(--colorWhite);
  cursor: pointer;
  
}
footer p {
  font-size: .9rem;
  padding: 10px;
  color: var(--colorText1);
  font-weight: 300;
}
footer a {
  color: var(--colorText1);
}
footer a:hover {
  color: var(--colorWhite);
  text-decoration: none;
}